<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a Simple Page where you can share information or Share Posts!!!!!.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <%= link_to 'Create Post', new_post_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%@posts.each do |post| %>
    <div class="card" style="height: 280px; width: 100%; display: block; padding:10px;margin-bottom: 12px">
      <div class="card-text">
        <div class="col-md-4">
          <h2>
            <%= post.name %>
          </h2>
          <p>
            <%= post.content %>
          </p>
          <p>
            <%= link_to 'View', post, class: "btn btn-primary btn-lg" %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary btn-lg" %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>